<div class="back">
  <div class="front">
    <p>適当なテキスト</p>
  </div>
</div>

<style>
.back {
  background: url("./sample.jpg");
  padding: 50px;
}
.front {
  box-shadow: 0 0 8px #00000024;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: #FFFFFF56;
  border-radius: 32px;
  padding: 32px;
}
</style>
